.custom-radio-items label {
    margin-left: 10px;
}

.custom-radio-items input {
    margin-right: 10px;
}

.btn-secondary{
    background-color: #1E3A8A;
}

.btn-secondary:hover{
    background-color: #4C75B0;
}